<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="applicationrunoptions" type="Trackerconfig.Utilities.CourseFileProperties" />
    <section name="blobutilities" type="Trackerconfig.Utilities.TrackerBlobProperties" />
  </configSections>-->
  <connectionStrings>
  <add name="tomr-sql"
   providerName="System.Data.SqlClient"
   connectionString="Server=tcp:nnm3rwvu15v5.database.windows.net,1433;Initial Catalog=tomr-sql;Persist Security Info=False;User ID=trackeradmin;Password=Nemesis72;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
   <add name="StorageConnectionString"
    connectionString="DefaultEndpointsProtocol=https;AccountName=tztomrstorage;AccountKey=8qe/xCdNPNbtzWoyQVWiratrlqCgvNzjOehXoiLbT9wFFb1Lsl14QbIa6DE7R0LxTrJNzIYEkpa5rkei0v+acg==" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<blobutilities StorageConnectionString="DefaultEndpointsProtocol=https;AccountName=tztomrstorage;AccountKey=8qe/xCdNPNbtzWoyQVWiratrlqCgvNzjOehXoiLbT9wFFb1Lsl14QbIa6DE7R0LxTrJNzIYEkpa5rkei0v+acg==" BlobContainerName="tomr" />-->
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tztomrstorage;AccountKey=8qe/xCdNPNbtzWoyQVWiratrlqCgvNzjOehXoiLbT9wFFb1Lsl14QbIa6DE7R0LxTrJNzIYEkpa5rkei0v+acg==" />-->
    <add key="BlobContainerName" value="tomr" />
    <add key="course_data" value="c:\Dev\course_data.csv" />
    <add key="race_data" value="c:\Dev\race_data.csv" />
    <add key="rider_data" value="c:\Dev\rider_data.csv" />
    <add key="appcoptions" value="gpxconvertandupladblob" />

    <!-- Application options select based on required usage
    <add key="appcontext" value="generateevent" />
    <add key="appcontext" value="gpxconvert" />
    <add key="appcontext" value="gpxconvertandupladblob" />
    <add key="appcontext" value="upladblob" />
    <add key="appcontext" value="racesetup" />
    <add key="appcontext" value="servicestart" />
    <add key="appcontext" value="servicestart" />
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>